<% @posts.each do |post| %>
    <article class="entry mgn-btm clearfix">
        <div class="ribbon-wrapper">
            <div class="ribbon-front">
                <div class="meta-date">
                    <p class="day"><%= post.created_at.day %></p>
                    <p class="year-month"><%= post.created_at.month %>/<%= post.created_at.year %></p>
                </div>
            </div>
            <div class="ribbon-edge-topleft"></div>
            <div class="ribbon-edge-topright"></div>
            <div class="ribbon-edge-bottomleft"></div>
            <div class="ribbon-edge-bottomright"></div>
            <div class="ribbon-back-left"></div>
            <div class="ribbon-back-right"></div>
        </div>
        <header class="title">
            <h1><a href="<%= post.link %>"><%= post.title %></a></h1>
            <p class="meta">
                <span>Category: <a href="<%= post.category.try(:link) %>"><%= post.category.try(:title) %></a></span>
                <span>Tags: <%= post.tags.map{|tag| %Q|<a href="#{tag.link}">#{tag.name}</a>|}.join(", ") %></span>
                by <span class="author vcard"><a href="#"><%= post.user.name %></a></span>
                on <time><%= post.created_at.to_date %></time>
                <% if logged_in? %>
                    <a href="<%= post.edit_link %>"><%= t('edit') %></a>
                <% end %>
            </p>
        </header>
        <div class="body">
          <%= post.body %>
        </div>
        <div class="social-button">
          <%= grace_hatena_button_to(post) %>
          <%= grace_tweet_button_to(post) %>
        </div>
    </article><!-- END Article -->
<% end %>

<div class="pagenation">
    <ul>
        <li class="next">
          <% if @posts.pager.previous_page %>
            <a class="next-link" href="?page=<%= @posts.pager.previous_page %>"><%= I18n.t('newer') %></a>
          <% end %>
        </li>
        <li class="previous">
          <% if @posts.pager.next_page %>
            <a class="previous-link" href="?page=<%= @posts.pager.next_page %>"><%= I18n.t('older') %></a>
          <% end %>
        </li>
    </ul>
</div>
