<article class="entry mgn-btm pdg-btm">
    <div class="ribbon-wrapper">
        <div class="ribbon-front">
            <div class="meta-date">
                <p class="day"><%= @entry.created_at.day %></p>
                <p class="year-month"><%= @entry.created_at.month %>/<%= @entry.created_at.year %></p>
            </div>
        </div>
        <div class="ribbon-edge-topleft"></div>
        <div class="ribbon-edge-topright"></div>
        <div class="ribbon-edge-bottomleft"></div>
        <div class="ribbon-edge-bottomright"></div>
        <div class="ribbon-back-left"></div>
        <div class="ribbon-back-right"></div>
    </div>
    <header class="title">
        <h1><%= @entry.title %></h1>
        <p class="meta">
            <span>Category: <a href="<%= @entry.category.try(:link) %>"><%= @entry.category.try(:title) %></a></span>
            <span>Tags: <%= @entry.tags.map{|tag| %Q|<a href="#{tag.link}">#{tag.name}</a>|}.join(", ") %></span>
            by <span class="author vcard"><a href="#"><%= @entry.user.name %></a></span>
            on <time><%= @entry.created_at.to_date %></time>
            <% if logged_in? %>
              <a href="<%= @entry.edit_link %>"><%= t('edit') %></a>
            <% end %>
        </p>
    </header>
    <div class="body">
        <%= @entry.body %>
    </div>

    <div class="social-button">
      <%= grace_hatena_button_to(@entry) %>
      <%= grace_tweet_button_to(@entry) %>
    </div>
</article><!-- END Article -->

<nav id="related-entries">
  <h1>Related Entries</h1>
  <ul>
    <% (it = @entry.category) && it.entries.shuffle[0..4].each do |entry| %>
      <li><%= link_to entry.title, entry.link %></li>
    <% end %>
  </ul>
</nav>

<nav id="recent-entries">
  <h1>Recent Entries</h1>
  <ul>
    <% Post.recent(5).each do |post| %>
      <li><%= link_to post.title, post.link %></li>
    <% end %>
  </ul>
</nav>

<%= grace_pager @entry, :class => "pagenation" %>

