<% @posts.each do |post| %>
    <article class="entry clearfix">
        <header class="title">
            <div class="meta-date">
              <p><%= post.created_at.year %><br>
                <span><%= post.created_at.month %>/<%= post.created_at.day %></span></p>
            </div>
            <h1><a href="<%= post.link %>"><%= post.title %></a></h1>
            <p class="meta">
                <span>Category: <a href="<%= post.category.link %>"><%= post.category.title %></a></span>
                <span>Tags: <%= post.tags.map{|tag| %Q|<a href="#{tag.link}">#{tag.name}</a>|}.join(", ") %></span>
                by <span class="author vcard"><a href="#"><%= post.user.name %></a></span>
                on <time><%= post.created_at.to_date %></time>
                <% if logged_in? %>
                    <a href="<%= post.edit_link %>"><%= t('edit') %></a>
                <% end %>
            </p>
        </header>
        <div class="body">
          <%= post.body %>
        </div>
    </article><!-- END Article -->
<% end %>

<div class="pagenation">
    <ul>
        <li class="next">
          <% if @posts.pager.previous_page %>
            <a class="next-link" href="?page=<%= @posts.pager.previous_page %>"><%= I18n.t('newer') %></a>
          <% end %>
        </li>
        <li class="previous">
          <% if @posts.pager.next_page %>
            <a class="previous-link" href="?page=<%= @posts.pager.next_page %>"><%= I18n.t('older') %></a>
          <% end %>
        </li>
    </ul>
</div>
