<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title><%= @entry && @entry.title  + " - " %><%= @site.title %></title>
        <meta name="description"  content="<%= @site.meta_description %>">
        <meta name="keywords"     content="<%= @site.meta_keywords %>">
        <link rel="shortcut icon" href="<%= @theme.path %>/favicon.ico">
        <link rel="alternate"     href="/index.atom" type="application/atom+xml">
        <link rel="stylesheet"    href="<%= @theme.path %>/assets/stylesheets/normalize.css">
        <link rel="stylesheet"    href="<%= @theme.path %>/assets/stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="<%= @theme.path %>/assets/javascripts/jquery.ui.totop.js"></script>
        <script src="<%= @theme.path %>/assets/javascripts/easing.js"></script>
        <script src="<%= @theme.path %>/assets/javascripts/script.js"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <%= header %>
    </head>
    <body>
        <!-- Header
        ================================================== -->
        <header id="header-top">
            <h1><a href="/"><%= @site.title %></a></h1>
            <p><%= @site.description %></p>
        </header>
        <!-- Container
        ================================================== -->
        <div id="container" class="clearfix">
            <%= yield %>
        </div>
        <!-- Footer
        ================================================== -->
        <footer id="footer-top">
            <%= partial "footer", :theme => "grace" %>
        </footer>
        <!-- Copyright
        ================================================== -->
        <div id="copyright">
            <p><small>Copyright &copy; 2011 - 2012 <%= @site.title %>. All Rights Reserved.</small></p>
        </div>
        <%= footer %>
        <a href="#" id="toTop"><span id="toTopHover"></span>To Top</a>
    </body>
</html>
